.imghead{
    width:100%;
}
/* #h1head{
    text-align: start;
    align-content: center;
    position: absolute;
    font-weight: bold;
    padding: 0 0;
    margin: 0 0;
    font-size: xx-large;
    
} */
/* #h4head{
    text-align: end;
    align-items: center;
    font-size: larger;
    ruby-position: before;
    grid-area: span;
    
    
} */
/* .colsm4{
    text-align: inherit;
    line-height: 70px;
    border-width: 0px;
    margin: 0px 0px 30px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300px;
    font-size: 60px;
    display: grid;

} */

#colsm4head{
    margin-bottom: 150px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0D6EFF;
}
button#headbt {
    position: absolute;
    height: 20px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    
    
}

#imgroyalcv{
    margin: 45px 0px 0px 300px;
}
#textjob{
text-align: right;
font-size: larger;
display: grid;
margin-top: 25px;
margin-right: 150px;
}


